
<div class="rssMacro">
    <table>
        #if ($titleBar=="true")
        <tr>
            <th>
                #if( $feed.image )
                    #if( $feed.site )<a href="$feed.site">#end
                        <img src="$feed.image.url" border="0" alt="$!channel.image.title" align="left" />
                    #if( $feed.site )</a>#end
                #end
                <a href="$url"><img src="$req.contextPath/images/icons/rss.gif" border="0" height="15" width="27" align="right" /></a>
                <a href="$generalUtil.completeUrlEncode($feed.link)">$generalUtil.htmlEncode($feed.title)</a>
                #if ($textUtil.stringSet($feed.description))
                    <br />
                    #set ($feedDescriptionHtml = $contentCleaner.cleanQuietly($feed.description))
                    <span class="smalltext">$feedDescriptionHtml</span>
                #end
            </th>
        </tr>
        #end
        #foreach($entry in $feed.entries)
            #if ($max <= 0 || $velocityCount <= $max)
                <tr>
                    <td valign="top">
                        #if ($entry.link)
                            <b><a href="$generalUtil.completeUrlEncode($entry.link)">$generalUtil.htmlEncode($entry.title)</a></b>
                        #else
                            <b>$generalUtil.htmlEncode($entry.title)</b>
                        #end

                        #if( $entry.date )
                            <span class="smalltext-blue">(<i>$dateFormatter.formatDateTime( $entry.date )</i>)</span>
                        #end
                        #if (!$showTitlesOnly)
                          #if ($textUtil.stringSet($entry.description.value))
                            <br />
                            #set ($descriptionHtml = $contentCleaner.cleanQuietly($entry.description.value))
                            <span class="smalltext">$descriptionHtml</span>
                          #end
                        #end
                    </td>
                </tr>
            #end
        #end
    </table>
</div>
